{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page_title}}</title>
    <link rel="icon" href="{% static '/img/favicon.svg' %}" />
    <link rel="stylesheet" href="{% static '/css/nav.css' %}" />
    <link rel="stylesheet" href="{% static '/css/styles.css' %}" />
    <link rel="stylesheet" href="{% static '/css/mobile.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://kit.fontawesome.com/54c10e37be.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<body>
    <header class="navigation" id="nav">
        <div class="nav-container">
            <div class="brand">
                <a class="site-logo" href="/"><img src="{% static '/img/Kids world Rwanda.png' %}" alt="" /></a>
            </div>
            <nav class="links-container">
                <div class="nav-mobile">
                    <a id="nav-toggle" href="#!"><span></span></a>
                </div>
                <ul class="nav-list">
                    <li><a href="/#welcome" class="scroll-link">Welcome</a></li>
                    <li><a href="/#about" class="scroll-link">About Us</a></li>
                    <li><a href="{% url 'shop' %}" class="">Shop</a></li>
                    <li><a href="/#contact" class="scroll-link">Contact Us</a></li>
                    <li>
                        <form action="">
                                <input class="form-control" type="search" name="" id="" placeholder="Search toys">
                                <input class="btn-primary search-btn" type="submit" value="Search">
                        </form>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    {% block content %}

    {% endblock %}
    <footer>
        <div class="container">
            <div class="top">
                <div class="col">
                    <h4>Best kids toystore in Kigali</h4>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores labore at tenetur eligendi asperiores eveniet minima
                    </p>
                </div>

                <div class="col">
                    <h4>Browse the website</h4>
                    <ul class="menu">
                        <li><a href="">Home</a></li>
                        <li><a href="">About us</a></li>
                        <li><a href="">Shop</a></li>
                        <li><a href="">Get in touch</a></li>
                    </ul>
                </div>

                <div class="col">
                    <h4>Shop with us</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ipsum magni doloribus blanditiis vero aperiam alias ea.</p>
                </div>
            </div>

            <div class="buttom">
                <div class="socials">
                    <a href=""><i class="fab fa-facebook-f"></i> <span>Like our page</span> </a>
                    <a href=""><i class="fab fa-instagram"></i> <span>Follow us</span></a>
                    <a href=""><i class=" 	fab fa-twitter"></i> <span>Follow us</span></a>
                </div>

                <div class="copy-right"><i class="far fa-copyright"></i> 2022 Kids World Rwanda | Designed by <a href="">Alphonse</a></div>
            </div>
        </div>
    </footer>

    <script src="{% static '/js/nav.js' %}"></script>
    <script src="{% static '/js/main.js' %}"></script>
</body>
</html>