{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section class="prouct-details">
        <div class="container">
            <div class="col-left">
                <div class="product-image">
                    <img src="{{product.product_image.url}}" alt="">
                </div>
            </div>

            <div class="col-right">
                <div class="top">
                    <h1 class="product-title heading">{{product.title | slice:50}}</h1>
                    <h4 class="price">{{product.price}}Rwf</h4>
                </div>
                <div class="category">
                    <h4>{{product.category}}</h4>
                </div>

                <div class="product-summary">
                    <p>
                       {{product.description}}
                    </p>
                </div>

                <a href="{% url 'order' product.id %}">
                    <button class="btn-primary order-btn" >Place order</button>
                </a>
            </div>
        </div>
    </section>
{% endblock %}