{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="search-results">
    <div class="container">
        <h1 class="heading">Search Result for: {{query}}</h1>
        {% if products %}
        {% for product in products %}
        <div class="result">
            <a href="{{product.get_absolute_url}}">
                <div class="result-card">
                    <img src="{{product.product_image.url}}" alt="">
                    <div class="result-content">
                        <h4>{{product.title}}</h4>
                        <p>{{product.price}}</p>
                        <p class="description">
                            {{product.description | slice:100}}
                        </p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
        {% else %}
        <div class="result">
            <a href="{% url 'index' %}">
                <div class="result-card">
                    Nothing found, please try different search
                </div>
            </a>
        </div>
        {% endif %}
    </div>
</section>

{% endblock %}